<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73720588788-jc7hvadpn3kc7doar8s9dqn77528dpdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73720588788-jc7hvadpn3kc7doar8s9dqn77528dpdn</string>
	<key>API_KEY</key>
	<string>AIzaSyDKhEQm16Tm-mhbJjK1jczEQTWdU9hOt5M</string>
	<key>GCM_SENDER_ID</key>
	<string>73720588788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-4784f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-4784f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73720588788:ios:031ed1844d9cf83c5c31a1</string>
</dict>
</plist>